@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Arabic:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400..700&display=swap" rel="stylesheet');
@import "tailwindcss";

@plugin 'tailwind-scrollbar' {
    preferredStrategy: 'pseudoelements';
}

@theme {
    --font-sans: Inter, sans-serif;
    --font-ur-sans: "Noto Sans Arabic", sans-serif;
    --color-orange: #DA702C;
    --color-white: #CECDC3;
    --color-gray: #878580;
    --color-black: #100F0F;
    --color-gray-dark: #343331;
    --text-black: #100F0F;
    --color-deactive: #55524E;

    --color-correct: #879A39;
    --color-error: #D14D41;
    --color-select: #8B7EC8;
    --color-gray-blue:#8B7EC8;
    --color-ink-blue:#4385BE;
    --color-deep-blue:#5E409D;
    --color-cursor:#5E409D;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.scrollbar-visible::-webkit-scrollbar {
    width: 10px;
}

.scrollbar-visible::-webkit-scrollbar-thumb {
    background-color: #878580;
}

.scrollbar-visible::-webkit-scrollbar-track {
    background: #CECDC3;
}
